<%- include("layout/header.ejs") %>
      <div class="container-fluid" style="background-color:#F5F6FA">
         <!--  Row 1 -->
         
         <div class="row">
            <div class="col">
               <div class="d-flex justify-content-between">
                  <h5 class="card-title mb-9 fw-semibold">Orders</h5>
                  <form class="" action="" method="">
                     <div class="d-flex search-input-box">
                        <input type="text" class="search-input" placeholder="Quick search by date">
                        <div class="d-flex align-items-center justify-content-center" style="padding:10px;">
                           <img src="/assets/images/icons/search.svg" />
                        </div>
                     </div>
                     <div class="">
                        <select class="search-select" name="">
                           <option value="pending">On  Hold</option>
                           <option value="delivered">Delivered</option>
                           <option value="cancelled">Cancelled</option>
                        </select>
                     </div>
                  </form>
               </div>
               <!-- Start Of Data Table -->
               <div class="table-responsive">
                  <table class="table text-nowrap align-middle cr-all-orders" style="border-collapse:separate;border-spacing:0 15px;">
                     <thead class="text-dark fs-4" style="background-color:white">
                        <tr>
                           
                           <th class="border-bottom-0">
                              <h6 class="fw-semibold mb-0">Customer</h6>
                           </th>
                           <th class="border-bottom-0">
                              <h6 class="fw-semibold mb-0">Phone</h6>
                           </th>
                           <th class="border-bottom-0">
                              <h6 class="fw-semibold mb-0">Status</h6>
                           </th>
                           <th class="border-bottom-0">
                              <img src="/assets/images/icons/dots.svg" />
                           </th>
                        </tr>
                     </thead>
                     <tbody class="" style="background-color:white">
                        
                     </tbody>
                  </table>
               </div>
               <!-- End Of Data Table -->
               <!-- Start Of Pagination -->
               <div class="card">
                  <div class="card-body">
                     <div class="row">
                        <div class="col-sm-12 col-md-6 d-flex justify-content-md-start justify-content-center mb-md-0 mb-3">
                        <div class="d-flex align-items-center">
                           <div class="pagination">
                              <li class="page-item"><button class="page-link-item">1</button></li>
                              <li class="page-item"><button class="page-link-item">2</button></li>
                              <li class="page-item"><button class="page-link-item">3</button></li>
                              <li class="page-item"><button class="page-link-item">4</button></li>
                              <li class="page-item"><button class="page-link-item">5</button></li>
                           </div>
                        </div>
                        </div>
                        
                        <div class="col-sm-12 col-md-6 d-flex justify-content-md-end justify-content-center">
                        <div class="d-flex align-items-center">
                           <div>PAGE</div>
                           <form class="pagination-form" action="">
                              <select class="pagination-form-select">
                                 
                              </select>
                           </form>
                           <div>OF <span class="pagination-pages-count"></span></div>
                        </div>
                        </div>
                     </div>
                  </div>
               </div>
               <!-- End Of Pagination -->
            </div>
         </div>


         <div class="py-6 px-6 text-center">
            <p class="mb-0 fs-4">Design and Developed by <a href="https://adminmart.com/" target="_blank" class="pe-1 text-primary text-decoration-underline">AdminMart.com</a> Distributed by <a href="https://themewagon.com">ThemeWagon</a></p>
         </div>
      </div>
   </div>
</div>
<script src="/assets/libs/jquery/dist/jquery.min.js"></script>
<script src="/assets/libs/axios/axios.js"></script>
<script src="/assets/js/customers.js"></script>
<%- include("layout/footer.ejs") %>

