<!-- Start Of Dropdown -->
                     <!-- <div class="d-flex justify-content-end">
                        <div class="cr-dropdown">
                           <a class="cr-dropdown-toggle" id="dropdownMenuButton">
                            <img src="/assets/images/icons/dots.svg" />
                           </a> 
                           
                           <div class="cr-dropdown-menu" aria-labelledby="dropdownMenuButton">
                              <ul class="">
                                 <li class="dropdown-item">
                                    <a class="" href="#">
                                       <img src="/assets/images/icons/file-edit.svg" />
                                    <span class="p-2">Update Status</span></a>
                                 </li>
                                 <li class="dropdown-item">
                                    <a class="" href="#">
                                       <img src="/assets/images/icons/eye.svg" />
                                    <span class="p-2">Mark as Delivered</span></a>
                                 </li>
                                 <li class="dropdown-item">
                                    <a class="" href="#">
                                       <img src="/assets/images/icons/file-edit.svg" />
                                    <span class="p-2">Send Invoice</span></a>
                                 </li>
                                 <li class="dropdown-item">
                                    <a class="" href="#">
                                       <img src="/assets/images/icons/trash.svg" />
                                    <span class="p-2">Remove Order</span></a>
                                 </li>
                              </ul>
                           </div>
                        </div>
                     </div> -->
                     <!-- End Of Dropdown -->




                     var chart = {
                        series: [
                           { name: "Earnings this month:", data: [355, 390, 300, 350, 390, 180, 355, 390] },
                           { name: "Expense this month:", data: [280, 250, 325, 215, 250, 310, 280, 250] }
                        ],
                        chart: {
                           type: "bar",
                           height: 345,
                           offsetX: -15,
                           toolbar: { show: true },
                           foreColor: "#adb0bb",
                           fontFamily: 'inherit',
                           sparkline: { enabled: false }
                        },
                        colors: ["#5D87FF", "#49BEFF"],
                        plotOptions: {
                           bar: {
                              horizontal: false,
                              columnWidth: "35%",
                              borderRadius: [6],
                              borderRadiusApplication: 'end',
                              borderRadiusWhenStacked: 'all'
                           }
                        },
                        markers: { size: 0 },
                        dataLabels: {
                           enabled: false
                        },
                        legend: {
                           show: false
                        },
                        grid: {
                           borderColor: "rgba(0,0,0,0.1)",
                           strokeDashArray: 3,
                           xaxis: {
                              lines: {
                                 show: false
                              }
                           }
                        },
                        xaxis: {
                           type: "category",
                           categories: ["16/08", "17/08", "18/08", "19/08", "20/08", "21/08", "22/08", "23/08"],
                           labels: {
                             style: { cssClass: "grey--text lighten-2--text fill-color" },
                           }
                        },
                        yaxis: {
                           show: true,
                           min: 0,
                           max: 400,
                           tickAmount: 4,
                           labels: {
                              style: {
                                 cssClass: "grey--text lighten-2--text fill-color"
                              }
                           }
                        },
                        stroke: {
                           show: true,
                           width: 3,
                           lineCap: "butt",
                           colors: ["transparent"]
                        },
                        tooltip: { theme: "light" },
                        responsive: [
                           {
                              breakpoint: 600,
                              options: {
                                 plotOptions: {
                                    bar: {
                                      borderRadius: 3
                                    }
                                 }
                              }
                           }
                        ]
                     };